@{
    string type = Model.Type ?? "submit";
    string styleClass = Model.IsPrimary == true ? "btn-primary" : "btn-secondary";
    string text = Model.Text;
    string icon = Model.Icon;
}

<button type="@type" class="btn @styleClass w-full sm:w-auto">
    @if (!string.IsNullOrEmpty(icon))
    {
        <i class="@icon mr-2"></i>
    }
    @text
</button>
