@model Unit_03_RSVP_App.Models.ComponentModel
@{
    string type = Model.Type;
    string styleClass = Model.IsPrimary ? "btn-primary" : "btn-secondary";
    string text = Model.Text;
    string? icon = Model.Icon;
}

<button type="@type" class="btn @styleClass w-full sm:w-auto">
    @if (!string.IsNullOrEmpty(icon))
    {
        <i class="@icon mr-2"></i>
    }
    @text
</button>
